.single-file-input {
  padding: 20px;
}

.multiple-file-input {
  background: white;
  border-radius: 5px;
  border: 2px dashed rgb(0, 135, 247);
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
